# LangChain Core
langchain
langchain-core
langchain_community
langchain-text-splitters

# Groq LLM
langchain-groq

# Environment Variable Management
python-dotenv

# PDF Processing
pypdf
pymupdf
pdfminer.six

# Embeddings
langchain-huggingface
sentence-transformers

# PDF Export
reportlab

# Frontend
reflex==0.8.27

# Production Server
gunicorn